.cardCon{
    width: 100%;
    height: 300px;
    border: 1px solid rgb(0, 255, 0);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: show .5s;
}
.sections{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}
.titles{
    width: 50%;
    text-align: center;
    font-size: 18px;
    color: rgb(26,144,165);
    padding-left: 10px;
}
.sub-titles{
    width: 50%;
    font-size: 18px;
    color: rgb(0, 255, 0);
}
.img{
    width: 150px;
    height: 150px;
    border: 5px solid rgb(26,144,165) ;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(-20px) ;
        
    }
    100% {
        opacity: 100%;
        transform: translateY(0px) ;
    }
}