.con{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='180' height='45' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 12%, 1)'/><path d='m0 5.625 14.06 7.03 16.876-8.438L22.502 0H11.25l8.436 4.219-5.623 2.81L0 0ZM33.75 0l2.81 1.406L39.374 0Zm16.871 0h.002L19.686 15.469l16.877 8.44 30.939-15.47 5.625 2.811-30.94 15.47 16.875 8.438 14.063-7.031 5.623 2.812L50.621 45h11.25l28.131-14.063L73.126 22.5l-14.065 7.033-5.623-2.812L84.374 11.25 67.498 2.81 36.561 18.282l-5.625-2.814L61.87 0H50.62Zm22.505 0L90 8.437l14.06-7.03 5.626 2.812-30.938 15.469 16.874 8.438 30.939-15.472 5.625 2.815L73.126 45h11.25l59.061-29.532L126.56 7.03 95.622 22.499l-5.621-2.814 30.934-15.467L112.498 0H95.621l-5.623 2.813L84.376 0Zm50.624 0h-.002l44.998 22.5-5.623 2.813-14.063-7.032-16.876 8.44 30.941 15.468-2.813 1.407L157.499 45h11.249l5.628-2.813-30.938-15.468 5.624-2.813 14.064 7.033L180 22.501 134.998 0Zm33.749 45L126.56 29.532l-16.877 8.439L123.749 45h11.249l-14.062-7.03 5.625-2.812L146.248 45ZM146.248 0l11.25 5.625L168.748 0Zm16.875 8.44L180 16.877V11.25l-5.625-2.815L180 5.625V0ZM0 11.25v5.627l42.186 21.092-5.625 2.814-30.938-15.47L0 28.122v5.629l5.623-2.813L33.75 45h5.624l14.062-7.031zm0 22.502v5.625L11.251 45h11.251zm180-5.631v.002l-11.252 5.627L180 39.377Zm-75.939 12.662L95.621 45h16.877z'  stroke-width='1' stroke='none' fill='hsla(189, 73%, 37%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.inputContainer{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label{
    width: 100px;
    height: 25px;
    margin-bottom: 5px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    border-bottom: 2px solid #fff;
}

.input{
    width: 200px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(30, 30, 30);;
    padding-left: 5px;
}
.input::placeholder{
    margin-left: 15px;
    font-size: 16px;
    color: rgb(26, 144, 165);
}
.select{
    width: 100px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(30, 30, 30);;
    padding-left: 5px;
    color: rgb(26, 144, 165);
}

.btn-Search{
    width: 100px;
    height: 30px;
    margin-top: 5px;
    background: rgb(43, 43, 43);
    color: rgb(26, 144, 165);
    border: none;
    cursor: pointer;
    transition: all .3s;
    font-size: 18px;
    border-radius: 5px;
}
.btn-Search:hover{
    background:rgb(26, 144, 165);
    color:rgb(43, 43, 43);
}

.btn-reload{
    width: 100px;
    height: 50px;
    margin-top: 5px;
    background: #fff;
    color: rgb(26, 144, 165);
    border: none;
    cursor: pointer;
    transition: all .3s;
    font-size: 18px;
    border-radius: 5px;
}

.btn-reload:hover{
    background:rgb(26, 144, 165);
    color:#fff;
}

.cardsContainer{
    background:rgb(43, 43, 43);
    width: 100%;
    min-height: 81vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.card{
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='180' height='45' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 12%, 1)'/><path d='m0 5.625 14.06 7.03 16.876-8.438L22.502 0H11.25l8.436 4.219-5.623 2.81L0 0ZM33.75 0l2.81 1.406L39.374 0Zm16.871 0h.002L19.686 15.469l16.877 8.44 30.939-15.47 5.625 2.811-30.94 15.47 16.875 8.438 14.063-7.031 5.623 2.812L50.621 45h11.25l28.131-14.063L73.126 22.5l-14.065 7.033-5.623-2.812L84.374 11.25 67.498 2.81 36.561 18.282l-5.625-2.814L61.87 0H50.62Zm22.505 0L90 8.437l14.06-7.03 5.626 2.812-30.938 15.469 16.874 8.438 30.939-15.472 5.625 2.815L73.126 45h11.25l59.061-29.532L126.56 7.03 95.622 22.499l-5.621-2.814 30.934-15.467L112.498 0H95.621l-5.623 2.813L84.376 0Zm50.624 0h-.002l44.998 22.5-5.623 2.813-14.063-7.032-16.876 8.44 30.941 15.468-2.813 1.407L157.499 45h11.249l5.628-2.813-30.938-15.468 5.624-2.813 14.064 7.033L180 22.501 134.998 0Zm33.749 45L126.56 29.532l-16.877 8.439L123.749 45h11.249l-14.062-7.03 5.625-2.812L146.248 45ZM146.248 0l11.25 5.625L168.748 0Zm16.875 8.44L180 16.877V11.25l-5.625-2.815L180 5.625V0ZM0 11.25v5.627l42.186 21.092-5.625 2.814-30.938-15.47L0 28.122v5.629l5.623-2.813L33.75 45h5.624l14.062-7.031zm0 22.502v5.625L11.251 45h11.251zm180-5.631v.002l-11.252 5.627L180 39.377Zm-75.939 12.662L95.621 45h16.877z'  stroke-width='1' stroke='none' fill='hsla(189, 73%, 37%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}
.footerContainer{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn-page{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    border:1px solid rgb(26, 144, 165);
    color:rgb(26, 144, 165);
    background:rgb(0, 255, 0);
    cursor: pointer;
    transition: all .3s;
}
.btn-page:hover{    
    border:1px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    background: rgb(26, 144, 165);
}

.btnBack{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
    border:1px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    background: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: all .3s;
}
.btnBack:hover{
    border:1px solid rgb(43, 43, 43);
    color:rgb(43, 43, 43);
    background:rgb(0, 255, 0);
}

.charactersContainer{
    background:rgb(43, 43, 43);
    width: 100%;
    min-height: 81vh;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.characters{
    width:23%;
    min-width: auto;
    height: auto;
}